p  {
    color:red;
}

#id-example {
    color: aqua;
}

.class-example {
    color: blue;
}

li>a {
    color: greenyellow;
}

a:hover {
    color:hotpink;
}

#juupeli {
    color:yellow;
    font-size: 2rem;
    font-family:"Bodoni MT";
}
